server:
  ssl:
    enabled: false
  port: 8443
  error:
    include-message: always
  reactive:
    session:
      timeout: 30d
      cookie:
        name: SESSION
        secure: false
        max-age: 30d
        http-only: true
        same-site: lax
  forward-headers-strategy: framework
spring:
  ai:
    chat:
      observations:
        log-prompt: false
        log-completion: false
        include-error-logging: true
    ollama:
      chat:
        options:
          top-p: 0.9
          model: llama3.1:8b
          max-tokens: 1000
          temperature: 0.8
      base-url: http://localhost:7869
    openai:
      api-key: ${SPRING_AI_OPENAI_API_KEY}
      chat:
        options:
          model: gpt-4o-mini
          max-tokens: 1000
          temperature: 0.2
      embedding:
        options:
          model: text-embedding-3-small
          dimensions: 1536 #or 3072 for text-embedding-3-large
  data:
    mongodb:
      uri: ${SPRING_DATA_MONGODB_URI}
      auto-index-creation: true
  cloud:
    gateway:
      server:
        webflux:
          routes:
            - id: workley-gateway
              uri: http://workley.ai:8443
              predicates:
                - Path=/api/chats/**
                - Path=/api/command/**
  rsocket:
    server:
      transport: websocket
      mapping-path: /rsocket
  application:
    name: workley-gateway
gateway:
  security:
    anonymous:
      jwt:
        secret: ${GATEWAY_SECURITY_ANONYMOUS_JWT_SECRET}
management:
  health:
    rabbit:
      enabled: false
    ratelimiters:
      enabled: true
    circuitbreakers:
      enabled: true
  endpoint:
    health:
      show-details: always
  endpoints:
    web:
      exposure:
        include: health, metrics
  metrics:
    tags:
      application: workley-gateway
resilience4j:
  timelimiter:
    configs:
      gpt-ai-model:
        timeout-duration: 300s
        cancel-running-future: false
      ollama-ai-model:
        timeout-duration: 300s
        cancel-running-future: false
  circuitbreaker:
    configs:
      gpt-ai-model:
        sliding-window-size: 10
        minimum-number-of-calls: 5
        wait-duration-in-open-state: 10s
        permitted-number-of-calls-in-half-open-state: 3
        automatic-transition-from-open-to-half-open-enabled: true
      ollama-ai-model:
        sliding-window-size: 10
        minimum-number-of-calls: 5
        wait-duration-in-open-state: 10s
        permitted-number-of-calls-in-half-open-state: 3
        automatic-transition-from-open-to-half-open-enabled: true